APP_NAME=Marketplace Ops Tool
APP_BASE_URL=http://127.0.0.1:8000
DATABASE_URL=sqlite:///app/data/ops.db
SECRET_KEY=change-me
OZON_CLIENT_ID=541337
OZON_API_KEY=740f52d0-f4c2-4cad-9bc1-16537cf9b5e0
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_DEFAULT_CHAT_ID=
DISCOUNT_REQUESTS_MODE=требуется_проверка
PRICE_MONITOR_HEADLESS=true
SCHEDULER_POLL_SECONDS=60
PROXY_SERVER=http://94.131.113.65:52290
PROXY_USERNAME=1EvrTvyL
PROXY_PASSWORD=DKaq8UNx